
<%- include('headmain') %>

<link rel="stylesheet" type="text/css" href="/stylesheets/contactus.css">
<main class="main" id="main" role="main">

<div class="containerc">
  <h2>Contact Us</h2>
  <div class="row100">
    <div class="col">
      <div class="inputBox">
        <input type="text" name="" required="required">
        <span class="text">First Name</span>
        <span class="line"></span>
      </div>
    </div>
    <div class="col">
      <div class="inputBox">
        <input type="text" name="" required="required">
        <span class="text">Last Name</span>
        <span class="line"></span>
      </div>
    </div>
  </div>
  <div class="row100">
    <div class="col">
      <div class="inputBox">
        <input type="text" name="" required="required">
        <span class="text">E-Mail</span>
        <span class="line"></span>
      </div>
    </div>
    <div class="col">
      <div class="inputBox">
        <input type="text" name="" required="required">
        <span class="text">Mobile Number</span>
        <span class="line"></span>
      </div>
    </div>
  </div>
  <div class="row100">
    <div class="col">
      <div class="inputBox textarea">
        <textarea required="required"></textarea>
        <span class="text">Give your valuable feedback.....</span>
        <span class="line"></span>
      </div>
    </div>
  </div>
  <div class="row100">
    <div class="col">
      <input type="submit" name="Send">
    </div>
  </div>
</div>

 </main>
 <%- include('footmain') %>