<%- include('headmain') %>

<link rel='stylesheet' href='/stylesheets/events.css' />
<main class="main" id="main" role="main">

<div class="sp1 spn">
  <img src="images/Whats.jpeg">
  <h3 class="kmb1 nam">Quiz for Nerds</h3>
  <h1 class="kmb1 nam">Quizophile</h1>
  <a class="btn" onclick="document.getElementById('id02').style.display='block'"><h3 class="kmw nam">Know More</h3></a>
</div>

<div id="id02" class="modal">  
  <form class="modal-content animate" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="images/Whats.jpeg" alt="Avatar" class="avatar">
    </div>
    <center><h3 style="font-weight: bold;">Quizophile</h3></center>
      <div class="modal-body">
      Student organization " OTAKU" under the aegis of Division of Student Welfare Lovely Professional University is organizing a event " QUIZOPHILE - quiz for nerds "<br>
Hello!!! Everyone !!<br>
Are you bored in lockdown..? Don't worry... We OTAKU is organizing this event is all about series
 which are being loved by everyone. Series are :- <br>
1. Game of Thrones<br>
2. F.R.I.E.N.D.S<br>
3. Vampire Diaries<br>
4. Money Heist<br>
5. Flash<br>  <br>


E- certificates will be provided to participants<br>

Date: 10th May 2020<br>

Time:5:30pm to 6:30pm<br>

Registration Fee: 20/- per person<br>

Venue: online<br>
( KAHOOT)<br>

Registration Link: shortto.com/quizophile<br>

Top 3 winners will be getting discounts from travelers nest community for 1 trip<br>

For any queries contact :- <br>
Akash -  +91 79894 00694<br>
Spandana - +91 94902 24942<br>
Email id :- Otakustream007@gmail.com
    </div>
    <div class="modal-footer">
  
      <a href="https://docs.google.com/forms/d/1q_X1qxBKTzmHz97_4zEH36AM-258YA-GfydiT0R5dts/viewform?edit_requested=true" class="btn rg">Registrations closed</a>
    </div>
  </form>
</div>

<div class="sp spn">
  <img src="images/tictok.jpeg">
  <h3 class="kmw1 nam">Tik Tok</h3>
  <h1 class="kmw1 nam">Corona Challenge</h1>
  <a class="btn" onclick="document.getElementById('id01').style.display='block'"><h3 class="kmb nam">Know More</h3></a>
</div>

<div id="id01" class="modal">
  
  <form class="modal-content animate" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="images/tictok.jpeg" alt="Avatar" class="avatar">
    </div>
    <center><h3 style="font-weight: bold;">Corona Challenge</h3></center>
     <div class="modal-body">
      <p>Hello everyone !!!
CORONA this virus  is presently threatening whole world , as we all know big countries like  Italy, Spain and china are in really critical situation and now India is also fighting with it , as a step to safety our honourable prime minister NARENDRA MODI has declared 21 days of lockdown , so let's stay at home safe our country , we can't get another chance to save our country by staying at home and let's be safe but we know you people are getting bored, aren't you? , Don't worry We OTAKU organization are here to entertain you in this quarantine days. So here is the challenge " make a tik tok  on Corona viruses issue , precautions to be taken , symptoms,etc.." by this we spread more awareness about Corona viruses . It's more like a competition and participants will get valuable goodies from our organization . All you need to do is make a tik tok video of 1min and send that to what's app number given below . So, we named this challenge as " #CORONA CHALLENGE" . Don't forget to use #coronachallenge 

What's app number:- 7989400694</p>
    </div>
    <div class="modal-footer">
  
      <a href="" class="btn rg">Registrations closed</a>
    </div>
  </form>
</div>

<script>
var modal = document.getElementById('id01');

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

var mod = document.getElementById('id02');

window.onclick = function(event) {
    if (event.target == mod) {
        mod.style.display = "none";
    }
}

var modal3 = document.getElementById('id03');

window.onclick = function(event) {
    if (event.target == modal3) {
        modal3.style.display = "none";
    }
}

var modal4 = document.getElementById('id04');

window.onclick = function(event) {
    if (event.target == modal4) {
        modal4.style.display = "none";
    }
}
</script>

<div class="sp1 spn">
  <img src="images/p5.png">
  <h3 class="kmb1 nam">Celebrity Event</h3>
  <h1 class="kmb1 nam">Kamedi Myajik</h1>
  <a class="btn" onclick="document.getElementById('id02').style.display='block'"><h3 class="kmw nam">Know More</h3></a>
</div>

<div id="id02" class="modal">  
  <form class="modal-content animate" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="images/p5.png" alt="Avatar" class="avatar">
    </div>
    <center><h3 style="font-weight: bold;">Kamedi Myajik</h3></center>
      <div class="modal-body">
      Student Organization " OTAKU " Collaboration with"YCM" and "WINGS OF HOPE" under the aegis of Division of Student Welfare, Lovely Professional University is Organizing a event "KAMEDI MYAGIK - LITTLE NIGHT COMEDY SHOW" by famous south Indian celebrates , venky monkey , hyper adi and chamak chandra . All the celebrities are ready to entertain you with skits, mimicry and ventrucalism , we also have a dance performance , magic show and standup comedy in addition . Don't miss the chance to have a good interaction with celebrities and be ready to fill your heart and soul with full of joy and entertainment , Register now!! , Limited passes available.<br>
Date:- 20th march 2020<br>
venue:- SDM auditorium<br>
Timings:- 5pm to 9pm<br>
Fee of one pass - 299<br>
Fee of two combo passes - 500<br>
For any queries please contact:-<br>
Akash : 7989400694<br>
Spandana: 6283648454<br>
Dhruva: 9603452480.
    </div>
    <div class="modal-footer">
  
      <a href="" class="btn rg">Registrations closed</a>
    </div>
  </form>
</div>

<div class="sp spn">
  <img src="images/Codemania.jpg">
  <h3 class="kmw1 nam">Technical Workshop</h3>
  <h1 class="kmw1 nam">Codemania</h1>
  <a class="btn" onclick="document.getElementById('id03').style.display='block'"><h3 class="kmb nam">Know More</h3></a>
</div>
<div id="id03" class="modal">  
  <form class="modal-content animate" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="images/Codemania.jpg" alt="Avatar" class="avatar">
    </div>
    <center><h3 style="font-weight: bold;">Codemania</h3></center>
        <div class="modal-body">
      A new interaction approach to learn C++<br>
The main motive of codemania is to help students, adroit youth and budding teen by bringing them all together and providing them a common platform to: To learn about C++ ,one could say from basics of C++ to it's scope in almost everything nd its applications in real world.<br>

Reg fee - 200/- per person<br>

Date - 1st feb-12th feb<br>

Time - 5:00pm - 8:00pm
    </div>
    <div class="modal-footer">
  
      <a href="" class="btn rg">Registrations closed</a>
    </div>
  </form>
</div>

<div class="sp1 spn spel" id="last">
  <img src="images/p4.jpeg">
  <h3 class="kmb1 nam">Technical Workshop</h3>
  <h1 class="kmb1 nam">Cup of Java</h1>
  <a class="btn" onclick="document.getElementById('id04').style.display='block'"><h3 class="kmw nam">Know More</h3></a>
</div>
<div id="id04" class="modal">  
  <form class="modal-content animate" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="images/p4.jpeg" alt="Avatar" class="avatar">
    </div>
    <center><h3 style="font-weight: bold;">Cup of Java</h3></center>
        <div class="modal-body">
      Nobody likes wasting their time. We cut right to the action and get you building real skills that real, working developers value. The perfect approach for a career move. So we are here for the same, providing you all with workshop of one of the interesting programming language ie, java. The Java Workshop focuses on building up your practical skills so that you can develop high-performance applications that work flawlessly within the JVM across web, mobile and desktop.
    </div>
    <div class="modal-footer">
  
      <a href="" class="btn rg">Registrations closed</a>
    </div>
  </form>
</div>

 </main>
 <%- include('footmain') %>