<!doctype html>
<html class="no-js" lang="en-GB">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Otaku</title>

<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Otaku - The Student Organization - Where Amazing Events Happen" />
<meta property="og:site_name" content="Otaku" />
<meta property="og:image:width" content="1920" />
<meta property="og:image:height" content="1080" />

<link rel='dns-prefetch' href='//ajax.googleapis.com' />
<link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />

<link rel='stylesheet' href='/stylesheets/styles.css' />
<link rel='stylesheet' href='/stylesheets/main.css' />
<link rel="stylesheet" type="text/css" href="/stylesheets/loading.css">

<link rel='stylesheet' id='dflip-style-css' href='https://whereamazingthingshappen.co.uk/wp-content/plugins/dflip/assets/css/dflip.min.css?ver=1.3.3' type='text/css' media='all' />
<link rel='stylesheet' id='addtoany-css' href='https://whereamazingthingshappen.co.uk/wp-content/plugins/add-to-any/addtoany.min.css?ver=1.15' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome-css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='boostrap_grid-css' href='https://whereamazingthingshappen.co.uk/wp-content/themes/fresh/assets/css/bootstrap-grid.css' type='text/css' media='all' />

<script type='text/javascript' src='https://whereamazingthingshappen.co.uk/wp-content/plugins/google-analytics-for-wordpress/assets/js/frontend.min.js?ver=7.4.2'></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script type='text/javascript' src='https://whereamazingthingshappen.co.uk/wp-content/plugins/add-to-any/addtoany.min.js?ver=1.1'></script>
<script type='text/javascript' src='https://whereamazingthingshappen.co.uk/wp-content/themes/fresh/dist/js/modernizr.js'></script>

<link rel="shortcut icon" href="images/Otaku3.ico">

<meta name="theme-color" content="#ffffff">
<script data-ad-client="ca-pub-1289323982507949" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script src="https://whereamazingthingshappen.co.uk/wp-content/themes/fresh/dist/js/polyfills.min.js"></script>

</head> 
<body class="page page-id-38 about-us" role="document">

<div class="preload">
    <img src="images/Otaku3.png" class="logo">
    <div class="loading">
    <div class="loading-text">
        <span class="loading-text-words">L</span>
        <span class="loading-text-words">O</span>
        <span class="loading-text-words">A</span>
        <span class="loading-text-words">D</span>
        <span class="loading-text-words">I</span>
        <span class="loading-text-words">N</span>
        <span class="loading-text-words">G</span>
    </div>
</div>
</div>

<script type="text/javascript">
    window.addEventListener('load', () => {
        const preload = document.querySelector('.preload');
        preload.classList.add("preload-finish");
    });
</script>



<header class="site-header nav-down">
<a class="logo-main" href="#">
<img style="float: left;" src="images/otaku3.png" alt="Otaku" height="40px" width="40px">
<h1 class="otaku">OTAKU</h1>
</a>

<div class="nav-overlay nav-overlay-left">
<nav class="nav-main" role="navigation">
<ul id="menu-main-navigation" class="nav navbar-nav">
<li class="active 61 menu-home"><a href="/">Home</a></li>
<li class="62 menu-about-us"><a href="/events">Our Events</a></li>
<li class="62 menu-about-us"><a href="/post_events">Post Events</a></li>
<li class="63 menu-showreel"><a href="/services">Our Services</a></li>
<li class="64 menu-case-studies"><a href="/gallery">Gallery</a></li>
<li class="2415 menu-play"><a href="/team">Team</a></li>
<li class="65 menu-bright-ideas"><a href="/sponsors">Sponsors</a></li>
<li class="67 menu-join-us"><a href="https://www.srisaianadhavrudhashramam.org">Anadha Vrudhashramam Donation</a></li>
<li class="68 menu-contact-us"><a href="/contactus">Contact us</a></li>
<li class="67 menu-join-us"><a href="/signin">Login</a></li>
</ul> </nav>
<span class="copyrights">Copyright &copy; 2020 Otaku, Designed by Prince Pinnu</span>
</div>
<div class="nav-overlay nav-overlay-right">
<div class="inner-wrapper">
<img class="logo-full" src="images/title.png" alt="The Otaku Website" />
<address>
<p>Lovely Professional University,<br />
Delhi G.T.Road (NH-1),<br />
Phagwara, Punjab,144411<br />
INDIA</p>
</address>
<div class="social-links">
<a class="social-link" href="https://twitter.com/OTAKUORGANIZAT1?s=08" target="_blank" rel="noopener">Twitter</a>
<a class="social-link" href="https://instagram.com/otaku_org?igshid=udcp29v43n4z" target="_blank" rel="noopener">Instagram</a>
<a class="social-link" href="https://www.facebook.com/Otaku-organisation-102318237915165/" target="_blank" rel="noopener">FaceBook</a>
<a class="social-link" href="#" target="_blank" rel="noopener">LinkedIn</a>
</div>
</div>
</div>

<a class="mobile-menu mobile-only phone" href="tel:6303822413" target="_blank" rel="noopener">
<i class="fa fa-phone" aria-hidden="true"></i>
</a>
<ul></ul>
<ul id="navToggle" class="burger">
<li></li>
<li></li>
<li></li>
</ul>
</header>