
<%- include('headmain') %>

<link rel='stylesheet' href='/stylesheets/postevents.css' />
<main class="main" id="main" role="main">

<div class="sp">
	<center><div class="text-center">
  <h1>Winners</h1><br><br>
</div></center>
  <div>
  <div class="row">
    <div class="col-sm-4">
      <h2>ARTSY LENS</h2>
      <img src="/images/w1.jpeg"><br><br>
      <p>Student Organization "OTAKU" under the aegis of Division of Student Welfare  successfully organized an online event ARTSY LENS which was based on Photography with different categories like selfie/self portrait , nature , best edits , quarantine time.
Participants were very enthusiastic to participate in such event during lock-down.
With the same enthusiasm which they show in normal days.We were overwhelmed to see such energy in participants during this period. Participants sent number of entries to be the best and to win the online competition.</p>
    </div>
    <div class="col-sm-4">
      <h2>VIRTUAL WARRIORS</h2>
      <img src="/images/w2.jpeg"><br><br>
      <p>Student Organization "OTAKU" under the aegis of Division of Student Welfare  successfully organized an online event VIRTUAL WARRIORS which was based on online games :- ludo, cod etc..
Participants were very enthusiastic to participate in such event during lock-down.
With the same enthusiasm which they show in normal days.We were overwhelmed to see such energy in participants during this period. Participants sent number of entries to be the best and to win the online competition.</p>
    </div>
    <div class="col-sm-4">
      <h2>CORONA CHALLENGE</h2>
      <img src="/images/w3.jpeg"><br><br>
      <p>Student Organization "OTAKU" under the aegis of Division of Student Welfare  successfully organized an online event CORONA CHALLENGE which was based on TIKTOK videos and giving awareness about Corona virus.
Participants were very enthusiastic to participate in such event during lock-down.
With the same enthusiasm which they show in normal days.We were overwhelmed to see such energy in participants during this period. Participants sent number of entries to be the best and to win the online competition.</p>
    </div>
  </div>
</div>
</div>

 </main>
 <%- include('footmain') %>