
<%- include('headmain') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://rsms.me/inter/inter.css'><link rel="stylesheet" href="/stylesheets/services.css">
<main class="main" role="main">

<section class="c-section">
  <h1 class="c-section__title"><span>Our Services</span></h1>
  <ul class="c-services">
    <li class="c-services__item">
      <h3>Event Management</h3>
      <p>Otaku organization not only conduct academic or co curriculum tasks but will give you an opportunity to deal with people around you either by endulging u in event management as a coordinator or give you a exposure of speaking in front of people.</p>
    </li>
    <li class="c-services__item">
    <h3>Mobile Apps Design</h3>
      <p>To reach more customers and the goals of your business, a mobile application is necessary these days. We will work on the app design from scratch to final tested prototype.</p>
    <li class="c-services__item">
      <h3>Cultural Events</h3>
      <p>greatness of culture events is found whn all of us are celebrating it all together irrespective of wat our interest has to offer. Look for wat our organization has to give in regarding cultural events like singing to knw ur pitch nd Limitless boundaries,dancing to bring out a careless chile alive in you, rangoli festival to embrace the different colors nature has to offer. We Otaku family assure you to lessen ur work load by endulging you all in some co curricular activities.</p>
    </li>
    <li class="c-services__item">
      <h3>Photography</h3>
      <p>Photography is an art of observation. It’s about finding something interesting in an ordinary place , The picture that you took with your camera is the imagination you want to create with reality. If so and you find ths truthful then feel free to endure your thoughts.... Especially When you have a platform to live your dream, Otaku will assure you conduct some events comprising of photography.</p>
    </li>
    <li class="c-services__item">
      <h3>Web Development</h3>
      <p>A successful website offer you three things:<br>
It attracts the right kinds of visitors. Guides them to the main services or product you offer. Collect Contact details for future ongoing relation. Which u will learn in workshops conducted by our organization.</p>
    </li>
    <li class="c-services__item">
      <h3>Sports Event</h3>
      <p>I guess there is nothing that will get your minds off everything like cricket, pubg and many more mind blowing indoor as well as outdoor games that our organization has to offer like no where else.</p>
    </li>
  </ul>
</section>
<!-- partial -->
  <script  src="./script.js"></script>

 </main>
 <%- include('footmain') %>