<%- include('headmain') %>

<main class="main" id="main" role="main">

<div class="sp">
	<center><div class="text-center">
  <h1>Sponsors</h1>
</div></center>
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="/images/IMG-20200503-WA0002.jpg">
    </div>
    <div class="col-sm-4">
      <img src="/images/eeveno.jpeg">
    </div>
  </div>
</div>
</div>

 </main>
 <%- include('footmain') %>